<?xml version="1.0"?>
	<joms>
		<proccess name="preproccess" path="/home/nga/Desktop/pictures/">
			<klass name="ones">/home/nga/Desktop/pictures/ones.jpg</klass>
			<klass name="twos">/home/nga/Desktop/pictures/twos.jpg</klass>
			<klass name="threes">/home/nga/Desktop/pictures/threes.jpg</klass>
		</proccess>
		
		
	</joms>
